#Not Ignored
!cmdu.exe


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
CSPMparser/
ltl_ctl/
build/
.gradle/

# Test results
src/performance/java/PerformanceResult.txt

# Prolog Files
*.csp.pl
*.pl

# Windows Installer files
*.cab
*.msi
*.msm
*.msp


# Java Files
*.class
*.jar

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/bin/
.gradle/2.10/taskArtifacts/cache.properties
.gradle/2.10/taskArtifacts/cache.properties.lock
.gradle/2.10/taskArtifacts/fileHashes.bin
.gradle/2.10/taskArtifacts/fileSnapshots.bin
.gradle/2.10/taskArtifacts/outputFileStates.bin
.gradle/2.10/taskArtifacts/taskArtifacts.bin
build/libs/CSPMJ/META-INF/MANIFEST.MF
build/libs/CSPMJ/de/hhu/stups/sablecc/patch/IParser.java
build/libs/CSPMJ/de/hhu/stups/sablecc/patch/IToken.java
build/libs/CSPMJ/de/hhu/stups/sablecc/patch/ITokenListContainer.java
build/libs/CSPMJ/de/hhu/stups/sablecc/patch/PositionedNode.java
build/libs/CSPMJ/de/hhu/stups/sablecc/patch/SourcePosition.java
build/libs/CSPMJ/de/hhu/stups/sablecc/patch/SourcePositions.java
build/libs/CSPMJ/de/hhu/stups/sablecc/patch/SourcecodeRange.java
build/reports/tests/classes/LibraryTest.html
build/reports/tests/css/base-style.css
build/reports/tests/css/style.css
build/reports/tests/index.html
build/reports/tests/js/report.js
build/reports/tests/packages/default-package.html
build/resources/main/CSPMparser.scc
build/resources/main/CtlParser.scc
build/resources/main/LtlParser.scc
build/temp/de/hhu/stups/sablecc/patch/IParser.java
build/temp/de/hhu/stups/sablecc/patch/IToken.java
build/temp/de/hhu/stups/sablecc/patch/ITokenListContainer.java
build/temp/de/hhu/stups/sablecc/patch/PositionedNode.java
build/temp/de/hhu/stups/sablecc/patch/SourcePosition.java
build/temp/de/hhu/stups/sablecc/patch/SourcePositions.java
build/temp/de/hhu/stups/sablecc/patch/SourcecodeRange.java
build/test-results/TEST-LibraryTest.xml
build/test-results/binary/test/output.bin
build/test-results/binary/test/output.bin.idx
build/test-results/binary/test/results.bin
build/tmp/jar/MANIFEST.MF
build/tmp/uberjar/MANIFEST.MF
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
lib/prologlib-2.4.40/META-INF/MANIFEST.MF
lib/prologlib-2.4.40/de/prob/prolog/match/PrologIntegerMatch.java
lib/prologlib-2.4.40/de/prob/prolog/match/PrologListMatch.java
lib/prologlib-2.4.40/de/prob/prolog/match/PrologMatch.java
lib/prologlib-2.4.40/de/prob/prolog/match/PrologTermMatch.java
lib/prologlib-2.4.40/de/prob/prolog/match/PrologVariableMatch.java
lib/prologlib-2.4.40/de/prob/prolog/output/DummyPrologOutput.java
lib/prologlib-2.4.40/de/prob/prolog/output/IPrologTermOutput.java
lib/prologlib-2.4.40/de/prob/prolog/output/PrologTermDelegate.java
lib/prologlib-2.4.40/de/prob/prolog/output/PrologTermOutput.java
lib/prologlib-2.4.40/de/prob/prolog/output/PrologTermStringOutput.java
lib/prologlib-2.4.40/de/prob/prolog/output/StructuredPrologOutput.java
lib/prologlib-2.4.40/de/prob/prolog/term/CompoundPrologTerm.java
lib/prologlib-2.4.40/de/prob/prolog/term/IntegerPrologTerm.java
lib/prologlib-2.4.40/de/prob/prolog/term/ListPrologTerm.java
lib/prologlib-2.4.40/de/prob/prolog/term/PrologTerm.java
lib/prologlib-2.4.40/de/prob/prolog/term/PrologTermListIterator.java
lib/prologlib-2.4.40/de/prob/prolog/term/VariablePrologTerm.java
build/resources/main/MiniParserAST.scc